* { /* Html osoan aplikatuko dira */
    font-family: sans-serif;
    font-weight: normal;
    padding: 1px;
}

body {
    padding: 0;
    margin: 0;
}

.orria { /* TELEFONOA */
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "tit tit"
        "log reg"
        "aban reg";
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.orria > * { /* Orria class duen elementuko seme zuzen guztietan */
    background: linear-gradient(to right, #b66a50, #e8730cee);
    border-style: solid;
}

.izenburua {
    grid-area: tit;
    text-align: center;
}

.login {
    grid-area: log;
}

.erregistroa {
    grid-area: reg;
}

.abantailak {
    grid-area: aban;
    text-align: left;
}

.abantailak #abanta{
    text-align: center;
}

@media screen and (max-width: 480px) { /* TABLET */

    .orria {
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "tit tit"
            "log reg"
            "img reg"
            "aban cont";
    }

    .kontaktua {
        grid-area: cont;
    }

    .irudia {
        grid-area: img;
    }

}

@media screen and (max-width: 900px) { /* ORDENAGAILUA */

    .orria {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "tit tit tit"
            "img img2 reg"
            "aban log reg"
            "aban cont cont";
    }

    .azalpena {
        grid-area: img2;
    }

}